extends index.pug 

block css 
    link(rel="stylesheet", href="/css/home.css")

block js 
    script(src="/js/home.js") 

block home 
    div#content_block
        span.home_content Learn&nbsp;
            a(href="" class="typewrite" data-period="2000" data-type='[" Mathematics", " Science", " English"]').home_content 
        span.wrap
     
    


        