doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/index.css")
        block css
        block js
        title Srijan Academy | #{title}
    body
      .container 
        header
            div.header_one
                ul 
                    li 
                        span Email us: 
                
                ul.login_header
                    li 
                        a(href="signup_page.pug")#signup_btn Sign Up 
                    li 
                        a(href="/login")#login_btn Log In 

            
            div.header_two
                div#logo 
                    img(src="/assets/images/logo.png", alt="Error Loading")
               
                ul.navbar 
                    li 
                        a(href="").header_comp Home
                    li 
                        a(href="").header_comp Courses
                    li 
                        a(href="").header_comp Blog
                    li 
                        a(href="").header_comp Contact Us


        block home
        block courses
        block blog
        br
        hr
        footer 
            p Copyright &copy; 2021