@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1% 3px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 5;
}

.header_one{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin: 1rem 1rem ;
    padding: 0.5rem;
    width: 100%;

}
li{
    
    list-style: none;
    
}

li>span{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}

.login_header{
    display: flex;
    justify-self: flex-end;
    position: relative;
    float: right;
    
}

ul>li{
    margin-left: 1rem;
    margin-right: 1rem;
}
ul>li>a{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}
.header_two{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar{
    display: flex;

}
.header_comp{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    

}

